*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: gray;}
}

.content{
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: example;
  animation-duration: 4s;
}

/* For desktop: */
.wrap {
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  .wrap {
    flex-direction: column;
    align-self:flex-start;
  }
}

picture{
  flex: 1;
}

.form-wrap {
  display:flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 1rem;
}

.grid-item1{
  grid-row: 1;
}

a{
  text-decoration: none;
  color: blue;
}

.grid-item2{
  color: gray;
  grid-row: 2;
}

.grid-item3{
  grid-row: 3;
  display: flex;
}

.grid-item3 button img{
  height: 1.25rem;
}

.grid-item4{
  color: gray;
  grid-row: 4;
  text-align: center;
}

button[id="google"] {
  width: calc(100% - 6rem);
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-color: lightgray;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

button[id="google"] span:first-of-type{
  width: 2.5rem;
  justify-content: start;
  align-items: center;
}

button[id="google"] span:last-of-type {
  width: calc(100% - 2.5rem);
  justify-content: center;
  align-items: center;
  text-align: center;
}

button[id="fb"], button[id="apple"] {
  width: 2.5rem;
  height: 2.5rem;
  background-color: lightgray;
  border: none;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}



form{
  width: 100%;
    display: flex;
    flex-direction:column;
  }

  .form-item{
    color: gray;
    width: 100%;
    margin-top: 1rem;
  }

  input[id="name"], input[id="email"], input[id="password"], button[id="create"] {
    width: 100%;
    border: none;
  }

  input[id="agree"]{
    margin-right: 0.5rem;
  }

  .form-item:nth-of-type(3) div{
    width: 100%;
    display:flex;
    flex-direction: row;

  }  
  
  .form-item:nth-of-type(3) div span:first-of-type{
    width: calc(100% - 1rem);
  }

  .form-item:nth-of-type(3) div span:last-of-type{
    width: 1rem;
  }
  .form-item:nth-of-type(4){
    color:black;
  }

  .form-item:nth-of-type(4) div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-item:nth-of-type(4) div span{
    height: 0.25rem;
    width: 20%;
    background-color: green;
    border-radius: 0.1rem;
  }

  .form-item:nth-of-type(4) div span:last-of-type{
    background-color: lightgray;
  }

  .form-item:nth-of-type(5){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
  }

  button[id="create"]{
    height: 2.5rem;
    background-color: #b43d50;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
  }

  button[id="create"]:hover{
    font-size: larger;
  }